.main .block-container {
    padding-top: 1.5rem;
    padding-bottom: 6.6rem;
}

/* Chat input area */
.stChatFloatingInputContainer {
    padding-bottom: 3rem;
}

/* AI message icon backgroud color */
.stChatMessage .css-usjmio, .stChatMessage .css-1lr5yb2{
    background-color: #FF4B4B;
}

/* User message icon backgroud color */
.stChatMessage .css-1yrzt5d, .stChatMessage .css-62i85d {
    background-color: rgb(150, 150, 150);
}

[data-testid="column"] [data-testid="stVerticalBlock"] [data-testid="stCaptionContainer"] p{
    padding-top: 0.5rem;
}

/* Feedback buttons */
.main [data-testid="column"].css-12w0qpk  {
    width: 47px;
    flex: none;
}
@media (max-width: 640px) {
    .main [data-testid="column"].css-keje6w {
        min-width: auto;
    }
    .main [data-testid="column"].css-12w0qpk {
        min-width: auto;
    }
}


/* stSidebar */
[data-testid="stSidebar"] .block-container {
    padding-top: 1.5rem;
}
[data-testid="stSidebar"] .css-10oheav.eczjsme4 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

/* st.divider */
[data-testid="stSidebar"] [data-testid="stMarkdownContainer"] hr {
    margin: 0;
}

/* No wrap names of conversations. Be careful if moved this buttons from tab-panel */
[data-testid="stSidebar"] [data-baseweb="tab-panel"] .stButton [data-testid="stMarkdownContainer"] {
    overflow: hidden;
}
[data-testid="stSidebar"] [data-baseweb="tab-panel"] .stButton [data-testid="stMarkdownContainer"]::before {
    display: inline-block;
}
[data-testid="stSidebar"] [data-baseweb="tab-panel"] .stButton [data-testid="stMarkdownContainer"] p {
    display: inline-block;
    white-space: nowrap;
}


/* Edit and delete conversation buttons. Be careful if moved this buttons from tab-panel */
[data-testid="stSidebar"] [data-baseweb="tab-panel"] [data-testid="stHorizontalBlock"].css-ocqkz7.esravye3 {
    gap: 0.5rem;
}
[data-testid="stSidebar"] [data-baseweb="tab-panel"] [data-testid="column"].css-12w0qpk {
    width: 47px;
    flex: none;
}
@media (max-width: 640px) {
    [data-testid="stSidebar"] [data-baseweb="tab-panel"] [data-testid="column"].css-keje6w {
        min-width: auto;
    }
    [data-testid="stSidebar"] [data-baseweb="tab-panel"] [data-testid="column"].css-12w0qpk {
        min-width: auto;
    }
}


/* Progress bar */
.stProgress .st-bo {
    background-color: #FF4B4B;
}