.main .block-container {
    padding-top: 1.5rem;
    padding-bottom: 6.6rem;
}

/* Chat input area */
.stChatFloatingInputContainer {
    padding-bottom: 3rem;
}

/* AI message icon backgroud color */
.stChatMessage .css-usjmio, .stChatMessage .css-1lr5yb2{
    background-color: #FF4B4B;
}

/* User message icon backgroud color */
.stChatMessage .css-1yrzt5d, .stChatMessage .css-62i85d {
    background-color: rgb(150, 150, 150);
}

[data-testid="column"] [data-testid="stVerticalBlock"] [data-testid="stCaptionContainer"] p{
    padding-top: 0.5rem;
}

/* Delete button with text */
[data-testid="column"].css-ex4hdz.esravye1 {
    min-width: 198.5px;
}

/* Delete button without text */
[data-testid="column"].css-z979wa.esravye1 {
    width: 0;
    min-width: 0;
    max-width: 0;
    visibility: hidden;
}

@media (max-width: 640px){
/* Cost counter caption */
[data-testid="column"].css-7nbb7m.esravye1 {
    max-width: calc(65% - 1.5rem);
    min-width: calc(60% - 1.5rem);
    width: calc(60% - 1.5rem);
}
/* Delete button with text */
[data-testid="column"].css-ex4hdz.esravye1 {
    position: absolute !important;
    visibility: hidden;
}
/* Delete button without text */
[data-testid="column"].css-z979wa.esravye1 {
    width: calc(12.5% - 0.5rem);
    min-width: calc(12.5% - 0.5rem);
    max-width: calc(12.5% - 0.5rem);
    visibility: visible;
}
/* Feedback buttons (both) */
[data-testid="column"].css-1t711tw.esravye1 {
    width: calc(12.5% - 0.5rem);
    min-width: calc(12.5% - 0.5rem);
    max-width: calc(12.5% - 0.5rem);
}
}


[data-testid="stSidebar"] .block-container {
    padding-top: 1.5rem;
}

[data-testid="stSidebar"] .css-1544g2n.e1akgbir4  {
    padding-top: 2rem;
}